$color: #d7d7e3;
$mainBg: #e7e8ea;
$blueFont: #5f7390;
$greyText: #828181;
$darkGreyText: #505050;
$fontColabLig: "ColabLig";
$fontColabReg: "ColabReg";
$contra: "CONTRA__";
$size15: 15px;
$size17: 17px;
$size27: 27px;
